{{include('partials/header.twig')}}

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus vitae deserunt unde quas distinctio veritatis reprehenderit laboriosam, qui consectetur itaque ullam quidem, ab quaerat ipsa eos exercitationem corrupti non nisi.</p>

{{include('partials/footer.twig')}}