{{include('partials/header.twig')}}

<div class="content center-align">
	<p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro id tenetur nisi eligendi animi cum, alias cupiditate exercitationem, ex ipsam eius labore maiores incidunt, neque, iure rem laborum aperiam numquam.</p>

	<a class="btn-large" href="{{url('pokemons')}}">Pokemons !</a>
</div>

{{include('partials/footer.twig')}}