{{ include('partials/header.twig') }}

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis odio fugit quibusdam dicta, asperiores, quos amet, ducimus laudantium iure neque nisi alias illo aliquid, ipsam cupiditate eveniet placeat. Necessitatibus, id.</p>

{{ include('partials/footer.twig') }}