{{ include('partials/header.twig') }}

	<p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel odit nulla asperiores consequuntur, saepe deserunt vitae, possimus sapiente ullam sit sed commodi esse libero assumenda aperiam laboriosam! Dolores eum, in.</p>

	<a class="btn-large" href="{{ url('pokemons') }}">Pokemons !</a>

{{ include('partials/footer.twig') }}