<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="{{app.request.basepath}}/src/css/reset.css">
	<link rel="stylesheet" href="{{app.request.basepath}}/src/css/style.css">
</head>
<body>
	<h1>Coucou</h1>

	<script src="{{app.request.basepath}}/src/js/app/script.js"></script>
</body>
</html>