body {
	background:#eee;
	font-family:Helvetica,Arial;
	font-size:14px;
}

.container {
	position:relative;
	width:800px;
	height:200px;
	background:#ddd;
}

.block {
	position:absolute;
	top:0;
	left:0;
	width:200px;
	height:200px;
	background:orange;
}

.transition-1 {
	-webkit-transition-property:left;
	   -moz-transition-property:left;
	     -o-transition-property:left;
	        transition-property:left;
	-webkit-transition-duration:3s;
	   -moz-transition-duration:3s;
	     -o-transition-duration:3s;
	        transition-duration:3s;
	-webkit-transition-timing-function:cubic-bezier(0.85, -0.01, 0, 1.01);
	   -moz-transition-timing-function:cubic-bezier(0.85, -0.01, 0, 1.01);
	     -o-transition-timing-function:cubic-bezier(0.85, -0.01, 0, 1.01);
	        transition-timing-function:cubic-bezier(0.85, -0.01, 0, 1.01);
}

.container:hover .transition-1 {
	left:600px;
}

.transition-2 {
	-webkit-transition:transform 3s;
	   -moz-transition:transform 3s;
	     -o-transition:transform 3s;
	        transition:transform 3s;
	transform:translateX(0px) translateZ(0);
}

.container:hover .transition-2 {
	transform:translateX(600px) translateZ(0);
}

.animation-1 {
	-webkit-animation:toto-tata 3s ease-out infinite alternate;
	   -moz-animation:toto-tata 3s ease-out infinite alternate;
	     -o-animation:toto-tata 3s ease-out infinite alternate;
	        animation:toto-tata 3s ease-out infinite alternate;
}

.container:hover .animation-1 {
	-webkit-animation-play-state:paused;
	   -moz-animation-play-state:paused;
	     -o-animation-play-state:paused;
	        animation-play-state:paused;
}

@-webkit-keyframes toto-tata {
	0%   {-webkit-transform:skewX(0deg);}
	50%  {-webkit-transform:skewX(25deg);}
	100% {-webkit-transform:skewX(-40deg);}
}

@-moz-keyframes toto-tata {
	0%   {-moz-transform:skewX(0deg);}
	50%  {-moz-transform:skewX(25deg);}
	100% {-moz-transform:skewX(-40deg);}
}

@-o-keyframes toto-tata {
	0%   {-o-transform:skewX(0deg);}
	50%  {-o-transform:skewX(25deg);}
	100% {-o-transform:skewX(-40deg);}
}

@keyframes toto-tata {
	0%   {-webkit-transform:skewX(0deg);transform:skewX(0deg);}
	50%  {-webkit-transform:skewX(25deg);transform:skewX(25deg);}
	100% {-webkit-transform:skewX(-40deg);transform:skewX(-40deg);}
}


.scafolding {
	width:800px;
	background:#ddd;
}

.scafolding .element {
	display:inline-block;
	width:160px;
	height:160px;
	margin:20px;
	background:orange;
	transform:scale(0);
	transition:0.3s;
}

.scafolding:hover .element-1 {transition-delay:0ms;}
.scafolding:hover .element-2 {transition-delay:100ms;}
.scafolding:hover .element-3 {transition-delay:200ms;}
.scafolding:hover .element-4 {transition-delay:300ms;}
.scafolding:hover .element-5 {transition-delay:400ms;}
.scafolding:hover .element-6 {transition-delay:500ms;}
.scafolding:hover .element-7 {transition-delay:600ms;}
.scafolding:hover .element-8 {transition-delay:700ms;}
.scafolding:hover .element-9 {transition-delay:800ms;}

.scafolding:hover .element {
	transform:scale(1);
}

a.underline {
	display:inline-block;
	position:relative;
	color:inherit;
	text-decoration:none;
	margin:50px;
}

a.underline::before {
	content:'';
	display:block;
	position:absolute;
	bottom:-2px;
	left:0;
	width:100%;
	height:1px;
	background:#000;
	transform:translateX(-15px);
	opacity:0;
	transition:all 0.15s;
}

a.underline:hover::before {
	opacity:1;
	transform:translateX(0px);
}