<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mon Twig</title>
	<link rel="stylesheet" href="{{app.request.basepath}}/src/css/reset.css">
	<link rel="stylesheet" href="{{app.request.basepath}}/src/css/style.css">
</head>
<body>
	Coucou

	<script src="{{app.request.basepath}}/src/js/app/script.js"></script>
</body>
</html>