body {
	background:#eee;
	font-family:Helvetica,Arial;
	font-size:14px;
}

.block {
	width:100px;
	height:100px;
	background:orange;
}

.transition-1 {
	transition:1s;
	transition-timing-function:cubic-bezier(0.2,1.2,0.8,-0.2);
}

.transition-1:hover {
	width:200px;
}

.animation-1 {
	animation:animation-1 2s;
	animation-play-state:paused;
	animation-fill-mode:none;
	transform:translateX(0px);
}

.animation-1:hover {
	animation-play-state:running;
}

@keyframes animation-1 {
	0%   {transform:translateX(100px);}
	50%  {transform:translateX(600px);}
	100% {transform:translateX(300px);}
}