body {
	background:#eee;
	font-family:Helvetica,Arial;
	font-size:14px;
}

.test {
	width:100px;
	height:100px;
	background:orange;
}

.cover {
	height:500px;
	background:url(https://unsplash.it/600/400/?random);
	background-position:center center;
	background-size:cover;
}