<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pokedex</title>
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<link rel="stylesheet" href="{{app.request.basepath}}/src/css/style.css">
</head>
<body>
	<div class="container">
		<header>
			<h1 class="center-align">Pokedex</h1>
			<nav>
				<div class="nav-wrapper">
					<ul>
						<li><a href="{{url('home')}}">Home</a></li>
						<li><a href="{{url('pokemons')}}">Pokemons</a></li>
						<li><a href="{{url('about')}}">About</a></li>
					</ul>
    			</div>
			</nav>
		</header>
