{{ include('partials/header.twig') }}
	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ad necessitatibus officia tempora commodi impedit repellat perspiciatis delectus eveniet quasi fugit, reprehenderit quos voluptatibus iste doloremque earum explicabo, veritatis tempore?</p>

{{ include('partials/footer.twig') }}