{{ include('partials/header.twig') }}
	
	<p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero repudiandae, nulla perspiciatis ipsa voluptate exercitationem praesentium amet, unde rerum iusto laboriosam impedit expedita temporibus numquam illo tempore omnis nostrum eum!</p>

	<a class="btn-large" href="{{ url('pokemons') }}">Pokemons !</a>

{{ include('partials/footer.twig') }}