body {
	background:#eee;
	font-family:Helvetica,Arial;
	font-size:14px;
}

.animation {
	position:absolute;
	top:0;
	left:0;
	width:100px;
	height:100px;
	background:orange;
	animation:test 3s alternate infinite;
}

@keyframes test {
	0% {
		transform:translateX(0px);
	}
	100% {
		transform:translateX(400px);
	}
}